@import "../style/index";
.uc-btn {
  width: auto;
  border-width: 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  transition: .1s;
  &-disabled {
    background: #f5f5f5;
    color: rgba(0, 0, 0, .25);
    cursor: not-allowed;
  }

  &-primary {
    background: $primary-color--6;
    color: white;
    &:hover {
      background: $primary-color--6;
    }

    &:active {
      background: $primary-color--6;
      box-shadow: 0 0 10px $primary-color--6;
    }
  }

  &-default {
    background: #fff;
    color: rgba(0,0,0,.85);
    border: 1px solid rgba(0,0,0,.2);
    &:hover {
      color:$primary-color--5;
      border: 1px solid $primary-color--5;
    }

    &:active {
      color:$primary-color--7;
      box-shadow: 0 0 5px $primary-color--7;
    }
  }

  &-lg {
    height: 40px;
  }

  &-md {
    height: 32px;
  }

  &-sm {
    height: 24px;
  }
}
